@media(max-width:992px){

    .hero-title{

        font-size:2.5rem;

    }

    .movie-poster{

        height:300px;

    }

}

@media(max-width:768px){

    .hero-title{

        font-size:2rem;

    }

    .section-title{

        font-size:1.6rem;

    }

}